<a href="https://colab.research.google.com/github/Itaadori/latihan/blob/main/First_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import numpy as np
import pandas as pd

# seberapa banyak orang yang bisa buka rekening X >= 19 tahun
# dan dengan isi rekening lebih dari 0 (setelah data dibersihkan)
# pada tahun 2025

url = "https://raw.githubusercontent.com/Itaadori/latihan/refs/heads/main/test.csv"
df = pd.read_csv(url, sep=';') # menjadikan data lebih rapih agar mudah dibaca
df['balance'] = pd.to_numeric(df['balance'], errors='coerce') # mengubah menjadi numerik supaya bisa diganti minimal ke 0
df.loc[df['balance'] < 0, 'balance'] = 0 # semua nilai minus menjadi 0

df.loc[(df['age'] >= 19) & (df['age'] <= 81)] # mengetahui jumlah potensi pembeli berumur lebih dari sama dengan 19 tahun
df.loc[(df['balance'] > 0)] # mengetahui jumlah potensi pembeli dengan balance lebih dari 0

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no